<div class="card">
  <div class="card-header">
    <div class="fa fa-user"></div>
    <%= link_to user.name, user_path(user) %>
  </div>
  <div class="card-footer">
    <%=  user.email %>
  </div>
  <div class="card-footer">
    Signed in <%= user.sign_in_count %> times
    <div class="row"></div>
    Last signed in <%= time_ago_in_words(user.current_sign_in_at) %> ago
    <div class="row"></div>
    Signed up <%= time_ago_in_words(user.created_at) %> ago

  </div>
  <div class="card-footer">
    <% user.roles.each do |role| %>
      <div class="badge badge-info">
        <%= role.name %>
      </div>
    <% end %>
    <% if policy(user).edit? %>
      <%= link_to 'Edit roles', edit_user_path(user), class: 'btn btn-sm btn-yellow shiny' %>
    <% end %>
    <% if !Invitation.reacted?(current_user.id, user.id) && current_user != user %>
      <%= link_to 'Send Invitation', invitations_create_path(ids: {id1: current_user.id, id2: user.id}) %>
    <% end %>

  </div>
</div>
