
<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, label: "Challenge Title" %>
    <%= f.input :duration, label: "Time Needed", placeholder: "Optional - 20 min, 3 days, etc" %>
    <%= f.label :content, label: "Details" %>
    <%= f.rich_text_area :content, class: "form-control", id: f.object.object_id %>
  </div>
<br>
  <div class="form-actions">
    <%= f.button :submit, "Save", class: "btn btn-success shiny" %>
  </div>
<% end %>
