
<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, placeholder: "Challenge Title", label: false %>
    <%= f.label :avatar, label: "Challenge Image" %>
    <%= f.file_field :avatar %>
    <%= f.input :duration, label: false, placeholder: "Time Needed - 20 min, 3 days, etc" %>
    <%= f.input :requirements, label: false, placeholder: "Requirements - What will users need to have" %>
    <%= f.select :tag_ids, Tag.all.pluck(:name, :id), {}, { multiple: true, class: "selectize" } %>
    <%= f.rich_text_area :content, placeholder: "Challenge details", class: "form-control scrollable", id: f.object.object_id %>
  </div>
<br>
  <div class="form-actions">
    <%= f.button :submit, "Save", class: "btn btn-success shiny" %>
  </div>
<% end %>
