<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-9">
        <div class="fa fa-trophy"></div>
        <%= link_to project.name, project_path(project) %>
      </div>
      <div class="col">
        <em class="text-right"><%= project.duration %></em>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= project.description %>
  </div>
  <div class="card-footer">
    Created by <%= project.user.email %> on <%= project.created_at.strftime('%b-%d-%Y') %>
  </div>
  <% if policy(project).edit? %>
  <div class="card-footer">
    <div class="btn-group" role="group" >
      <%= button_to 'Edit' , edit_project_path(project), class: 'btn btn-sm btn-palegreen text-white shiny' %>
      <%= button_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-magenta text-white shiny' %>
    </div>
  </div>
  <% end %>
  <div class="card-footer">
    <%= enrollment_button(project) %>
    <%= review_button(project) %>
  </div>
</div>
