<div class="card">
  <div class="card-header">
    <div class="fa fa-book"></div>
    <%= link_to project.name, project_path(project) %>
  </div>
  <div class="card-body">
    <%= project.content %>
  </div>
  <div class="card-footer">
    <div class="far fa-clock"></div>
    <%= project.created_at.strftime('%d-%b-%Y') %>
    <div class="row"></div>
    <div class="fa fa-user"></div>
    <%= project.user.email %>
  </div>
  <div class="card-footer">
    <%= link_to 'Show', project, class: 'btn btn-sm btn-primary' %>
    <%= link_to 'Edit', edit_project_path(project), class: 'btn btn-sm btn-warning' %>
    <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
  </div>
</div>
