<div class="row">
  <div class="col-md-2">
    Search Challenges
    <p></p>
    <%= search_form_for @q do |f| %>
      <%= f.search_field :name_cont, placeholder: 'Challenge Name', class: 'form-control form-control-sm' %>
      <p></p>
      <%= f.search_field :description_cont, placeholder: 'Description', class: 'form-control form-control-sm' %>
      <p></p>
      <%= f.search_field :content_cont, placeholder: 'Details', class: 'form-control form-control-sm' %>
      <p></p>
      <%= f.search_field :user_email_cont, placeholder: 'Challenger Email', class: 'form-control form-control-sm' %>
      <p></p>
      <%= f.button :submit, class: "btn btn-secondary" do%>
      <div class="fa fa-search"></div>
      Search
      <% end %>
    <% end %>
    <p></p>
    <%= link_to projects_path, class: 'btn btn-secondary' do %>
      <div class="fa fa-sync-alt"></div>
      Reset
    <% end %>
  </div>
  <div class="col-md-10">
    <div class="card-columns">
      <% @projects.each do |project| %>
        <%= render 'projects/project', project: project %>
      <% end %>
    </div>
  </div>
</div>
<br>

<%= link_to 'New Challenge', new_project_path %>
