<div class="container">
  <div class="row">
    <div class="col-md-10">
      <%= render 'project', project: @project %>
      <div class="card">
        <div class="card-footer">
          <div class="btn-group">
            <%= review_button(@project) %>
          </div>
          <div class="btn-group">
            <%= edit_project_button(@project) %>
            <%= delete_project_button(@project) %>
          </div>
        </div>
      </div>
    </div>
  </div>
<p></p>
  <div class="row">
    <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        <p></p>
        <h4>Comments</h4>
      <div class="card-body">
        <%= render partial: "comments/form", locals: { commentable: @project } %>
        <%= render @project.comments.where(parent_id: nil) %>
      </div>
    </div>
  </div>
    </div>
  </div>
