<%= search_form_for @q do |f| %>
  <%= f.search_field :user_email_cont, placeholder: 'User Email' %>
  <%= f.search_field :project_name_cont, placeholder: 'Challenge' %>
  <%= f.search_field :rating_eq, placeholder: 'Rating' %>
  <%= f.search_field :review_cont, placeholder: 'Review' %>
<br>
  <%= f.button :submit, class: "btn btn-sm shiny" do%>
    <div class="fa fa-search"></div>
    Search
  <% end %>
  <%= link_to enrollments_path, class: 'btn btn-sm shiny' do %>
  <div class="fa fa-sync-alt"></div>
  Reset
  <% end %>
<% end %>
<p></p>
<table class="table table-bordered table-striped table-sm table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>
        <div class="fa fa-user"></div>
        <%= sort_link(@q, :user_email) %>
      </th>
      <th>
        <div class="fa fa-clock"></div>
        <%= sort_link(@q, :created_at) %>
      </th>
      <th>
        <div class="fa fa-trophy"></div>
        <%= sort_link(@q, :project_name) %>
      </th>
      <th>
        <div class="fa fa-clock"></div>
        <%= sort_link(@q, :updated_at) %>
      </th>
      <th>
        <div class="fa fa-star"></div>
        <%= sort_link(@q, :rating) %>
      </th>
      <th>
        <div class="fa fa-comment"></div>
        <%= sort_link(@q, :review) %>
      </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @enrollments.each do |enrollment| %>
      <tr>
        <td>
          <%= enrollment.id %>
        </td>
        <td>
          <%= link_to enrollment.user.email, user_path(enrollment.user) %>
        </td>
        <td>
          <%= enrollment.created_at.strftime("%d/%b/%Y, %H:%M") %>
        </td>
        <td>
          <%= link_to enrollment.project.name, project_path(enrollment.project) %>
        </td>
        <td>
          <% if enrollment.rating.present? %>
            <%= enrollment.updated_at.strftime("%d/%b/%Y, %H:%M") %>
          <% end %>
        </td>
        <td>
          <%= enrollment.rating %>
        </td>
        <td>
          <%= enrollment.review %>
        </td>
        <td>
          <%= link_to 'See Review', enrollment %>
        </td>
        <td>
          <%= link_to 'Add Review', edit_enrollment_path(enrollment) %>
        </td>
        <td>
          <%= link_to 'Delete Enrollment', enrollment, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%== pagy_bootstrap_nav(@pagy) %>
