<h3 class="text-center">
  Tags
  <div class="badge badge-info">
    <%= @tags.count %>
  </div>
</h3>
<div class="card shadow">
  <div class="card-body">
    <% @tags.each do |tag| %>
      <div class="row"></div>
      <div class="btn-group">
        <%= link_to projects_path(projects_search: {project_tags_tag_id_eq: tag.id}), class: "btn shiny btn-palegreen mt-1" do %>
          <%= tag.name.titleize %>
          <div class="badge badge-light">
            <%= tag.project_tags_count %>
          </div>
        <% end %>
        <% if policy(tag).destroy? %>
          <%= link_to 'Delete Tag', tag, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn shiny btn-magenta text-white mt-1" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
